<!doctype html>
<html>
    <head>
        <title>
            Buy and Sell Bitcoin here
        </title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            .navbar-brand{
                font-weight:bolder;
            }
            .navmenu{
                display:flex;
            }
            .nav-item{
                font-weight:bolder;
                cursor:pointer;
            }
        </style>
    </head>
    <body>
        <!--navbar-->
        <div class='navbar bg-dark text-light'>
            <a href='' class='navbar-brand text-light'>Binance</a>
            <div>
                <ul class='navmenu' type='none'>
                    <li class='nav-link nav-item'>Profile</li>
                    <li class='nav-link nav-item'>Sell coins</li>
                    <li class='nav-link nav-item'>Buy Coins</li>
                </ul>
            </div>
        </div>
        <!-- end of navbar -->

        <div class='row pb-3'>
            <div class='col-md-3'></div>
            <table class='col-md-6'>
                <tr>
                    <th class='p-1'>Ask</th>
                    <th class='p-1'>Bid</th>
                    <th class='p-1'>Last</th>
                    <th class='p-1'>High</th>
                    <th class='p-1'>Low</th>
                </tr>
                <tr>
                    <td class='p-1' id='ask-value'></td>
                    <td class='p-1' id='bid-value'></td>
                    <td class='p-1' id='last-value'></td>
                    <td class='p-1' id='high-value'></td>
                    <td class='p-1' id='low-value'></td>
                </tr>
            </table>
            <div class='col-md-3'></div>
        </div>

        <div class='row pb-3'>
            <div class='col-md-3'>
                <h3>Averages</h3>
            </div>
            <div class='col-md-6'>
                <table>
                    <tr>
                        <th class='p-1'>Day</th>
                        <th class='p-1'>Week</th>
                        <th class='p-1'>Month</th>
                    <tr>
                        <tr>
                            <td class='p-1' id='day'></td>
                            <td class='p-1'  id='week'></td>
                            <td class='p-1'  id='month'></td>
                        </tr>
                </table>
            </div>
            <div class='col-md-3'></div>
        </div>

        <div class='row pb-3'>
            <div class='col-md-3'>
                <h3>Changes(%)</h3>
            </div>
            <div class='col-md-6'>
                <table>
                    <tr>
                        <th  class='p-1'>Day</th>
                        <th  class='p-1'>Hour</th>
                        <th  class='p-1'>Month</th>
                        <th  class='p-1'>Month_3</th>
                        <th  class='p-1'>Month_6</th>
                        <th  class='p-1'>Week</th>
                        <th  class='p-1'>Year</th>
                    <tr>
                    <tr>
                        <td id='dayp' class='p-1'></td>
                        <td id='hourp' class='p-1'></td>
                        <td id='monthp' class='p-1'></td>
                        <td id='month_3p' class='p-1'></td>
                        <td id='month_6p' class='p-1'></td>
                        <td id='weekp' class='p-1'></td>
                        <td id='yearp' class='p-1'></td>
                    <tr>
                </table>
            </div>
            <div class='col-md-3'></div>
        </div>

        <div class='row pb-3'>
            <div class='col-md-3'>
                <h3>Price Changes</h3>
            </div>
            <div class='col-md-6'>
                <table>
                    <tr>
                        <th  class='p-1'>Day</th>
                        <th  class='p-1'>Hour</th>
                        <th  class='p-1'>Month</th>
                        <th  class='p-1'>Month_3</th>
                        <th  class='p-1'>Month_6</th>
                        <th  class='p-1'>Week</th>
                        <th  class='p-1'>Year</th>
                    <tr>
                    <tr>
                        <td id='dayprice' class='p-1'></td>
                        <td id='hourprice' class='p-1'></td>
                        <td id='monthprice' class='p-1'></td>
                        <td id='month_3price' class='p-1'></td>
                        <td id='month_6price' class='p-1'></td>
                        <td id='weekprice' class='p-1'></td>
                        <td id='yearprice' class='p-1'></td>
                    <tr>
                </table>
            </div>
            <div class='col-md-3'></div>
        </div>

        <div class='row pb-3'>
            <div class='col-md-3'>
                <h3>Open</h3>
            </div>
            <div class='col-md-6'>
                <table>
                    <tr>
                        <th  class='p-1'>Day</th>
                        <th  class='p-1'>Hour</th>
                        <th  class='p-1'>Month</th>
                        <th  class='p-1'>Month_3</th>
                        <th  class='p-1'>Month_6</th>
                        <th  class='p-1'>Week</th>
                        <th  class='p-1'>Year</th>
                    <tr>
                    <tr>
                        <td id='dayopen' class='p-1'></td>
                        <td id='houropen' class='p-1'></td>
                        <td id='monthopen' class='p-1'></td>
                        <td id='month_3open' class='p-1'></td>
                        <td id='month_6open' class='p-1'></td>
                        <td id='weekopen' class='p-1'></td>
                        <td id='yearopen' class='p-1'></td>
                    <tr>
                </table>
            </div>
            <div class='col-md-3'></div>
        </div>

        <!-- javascript to fetch bitcoin information-->
        <script>
            async function fetchData() {
                const url = 'https://bitcoinaverage-global-bitcoin-index-v1.p.rapidapi.com/indices/global/ticker/BTCUSD';
                const options = {
                    method: 'GET',
                    headers: {
                        'X-RapidAPI-Key': '4f2bebb3f6msh26af8faa090c194p1e2759jsn18becdea64f0',
                        'X-RapidAPI-Host': 'bitcoinaverage-global-bitcoin-index-v1.p.rapidapi.com'
                    }
                };

                try {
                    const response = await fetch(url, options);
                    const result = await response.json()
                    console.log(result);
                    document.getElementById('ask-value').innerHTML = result.ask;
                    document.getElementById('bid-value').innerHTML = result.bid;
                    document.getElementById('high-value').innerHTML = result.high;
                    document.getElementById('low-value').innerHTML = result.low;
                    document.getElementById('last-value').innerHTML = result.last;
                    
                    document.getElementById('day').innerHTML = result.averages.day;
                    document.getElementById('week').innerHTML = result.averages.week;
                    document.getElementById('month').innerHTML = result.averages.month;

                    document.getElementById('dayp').innerHTML = result.changes.percent.day;
                    document.getElementById('hourp').innerHTML = result.changes.percent.hour;
                    document.getElementById('monthp').innerHTML = result.changes.percent.month;
                    document.getElementById('month_3p').innerHTML = result.changes.percent.month_3;
                    document.getElementById('month_6p').innerHTML = result.changes.percent.month_6;
                    document.getElementById('weekp').innerHTML = result.changes.percent.week;
                    document.getElementById('yearp').innerHTML = result.changes.percent.year;

                    document.getElementById('dayprice').innerHTML = result.changes.price.day;
                    document.getElementById('hourprice').innerHTML = result.changes.price.hour;
                    document.getElementById('monthprice').innerHTML = result.changes.price.month;
                    document.getElementById('month_3price').innerHTML = result.changes.price.month_3;
                    document.getElementById('month_6price').innerHTML = result.changes.price.month_6;
                    document.getElementById('weekprice').innerHTML = result.changes.price.week;
                    document.getElementById('yearprice').innerHTML = result.changes.price.year;

                    document.getElementById('dayopen').innerHTML = result.open.day;
                    document.getElementById('houropen').innerHTML = result.open.hour;
                    document.getElementById('monthopen').innerHTML = result.open.month;
                    document.getElementById('month_3open').innerHTML = result.open.month_3;
                    document.getElementById('month_6open').innerHTML = result.open.month_6;
                    document.getElementById('weekopen').innerHTML = result.open.week;
                    document.getElementById('yearopen').innerHTML = result.open.year;

                } catch (error) {
                    console.error(error);
                }
            }
            // Call the function to fetch data
            fetchData();
        </script>

        <div id='btc-data'></div>
        
    </body>
</html>






































































